// BEGIN U-BOOT MANAGED BLOCK: init
{
  "name": "{{.Name}}",
  "build": {
    "dockerfile": "./Dockerfile",
    "context": "."{{if .UID}},
    "args": {
      "USER_UID": "{{.UID}}"
    }{{end}}
  },
{{- if .Sandbox}}
  "workspaceMount": "",
  "workspaceFolder": "{{.WorkspaceFolder}}",
{{- if .RunArgs}}
  "runArgs": [{{range $i, $a := .RunArgs}}{{if $i}}, {{end}}"{{$a}}"{{end}}],
{{- end}}
{{- if .NestedPodman}}
  "mounts": [
    "source={{.WorkspaceVolume}}-${devcontainerId},target={{.WorkspaceFolder}},type=volume",
    "source={{.ContainersVolume}}-${devcontainerId},target=/home/vscode/.local/share/containers,type=volume"
  ],
{{- else}}
  "mounts": ["source={{.WorkspaceVolume}}-${devcontainerId},target={{.WorkspaceFolder}},type=volume"],
{{- end}}
{{- if .PostCreate}}
  "postCreateCommand": "{{.PostCreate}}",
{{- end}}
{{- if .PostStart}}
  "postStartCommand": "{{.PostStart}}",
{{- end}}
  "remoteEnv": {
    "GIT_TOKEN": "${localEnv:GIT_TOKEN}"
  },
{{- end}}
{{- if .ForwardPorts}}
  "forwardPorts": [{{range $i, $p := .ForwardPorts}}{{if $i}}, {{end}}{{$p}}{{end}}],
{{- end}}
{{- if .Features}}
  "features": {
{{- range $i, $f := .Features}}
{{- if $i}},{{end}}
    "{{$f.Source}}:{{$f.Version}}": {}
{{- end}}
  },
{{- end}}
  "remoteUser": "vscode"
}
// END U-BOOT MANAGED BLOCK: init
