// BEGIN U-BOOT MANAGED BLOCK: init
{
  "name": "{{.Name}}",
  "build": {
    "dockerfile": "./Dockerfile",
    "context": "."{{if .UID}},
    "args": {
      "USER_UID": "{{.UID}}"
    }{{end}}
  },
{{- if .Sandbox}}
  "workspaceMount": "source={{.WorkspaceVolume}},target={{.WorkspaceFolder}},type=volume",
  "workspaceFolder": "{{.WorkspaceFolder}}",
{{- if .NestedPodman}}
  "runArgs": ["--cap-add=SYS_ADMIN", "--security-opt=seccomp=unconfined", "--security-opt=apparmor=unconfined", "--security-opt=systempaths=unconfined", "--device=/dev/fuse"],
  "mounts": ["source={{.ContainersVolume}},target=/home/vscode/.local/share/containers,type=volume"],
{{- end}}
{{- if and .NestedPodman .CloneURL}}
  "postCreateCommand": "sh /usr/local/bin/u-boot-sandbox-init && { [ -d .git ] || git clone -- {{.CloneURL}} .; }",
{{- else if .NestedPodman}}
  "postCreateCommand": "sh /usr/local/bin/u-boot-sandbox-init",
{{- else if .CloneURL}}
  "postCreateCommand": "[ -d .git ] || git clone -- {{.CloneURL}} .",
{{- end}}
{{- end}}
{{- if .ForwardPorts}}
  "forwardPorts": [{{range $i, $p := .ForwardPorts}}{{if $i}}, {{end}}{{$p}}{{end}}],
{{- end}}
{{- if .Features}}
  "features": {
{{- range $i, $f := .Features}}
{{- if $i}},{{end}}
    "{{$f.Source}}:{{$f.Version}}": {}
{{- end}}
  },
{{- end}}
  "remoteUser": "vscode"
}
// END U-BOOT MANAGED BLOCK: init
